@font-face {
  font-family: 'RV';
  font-display: fallback;
  src: url('/../../fonts/RedVevet.eot');
  src: url('/../../fonts/RedVevet.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/RedVevet.woff2') format('woff2'),
    url('/../../fonts/RedVevet.woff') format('woff'),
    url('/../../fonts/RedVevet.ttf') format('truetype'),
    url('/../../fonts/RedVevet.svg#RedVevet') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich';
  font-display: fallback;
  src: url('/../../fonts/OstrichSans-Medium.eot');
  src: url('/../../fonts/OstrichSans-Medium?#iefix') format('embedded-opentype'),
    url('/../../fonts/OstrichSans-Medium.woff2') format('woff2'),
    url('/../../fonts/OstrichSans-Medium.woff') format('woff'),
    url('/../../fonts/OstrichSans-Medium.ttf') format('truetype'),
    url('/../../fonts/OstrichSans-Medium.svg#OstrichSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilda';
  src: url('/../../fonts/Lato-Light.eot');
  src: url('/../../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/Lato-Light.woff2') format('woff2'),
    url('/../../fonts/Lato-Light.woff') format('woff'),
    url('/../../fonts/Lato-Light.ttf') format('truetype'),
    url('/../../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
